<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI FILTER -->

	<bean id="EndpointFilter" class="xdi2.server.EndpointFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
	</bean>

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- ALLFILED CONNECTOR SERVLET -->

	<bean id="ConnectServlet" class="xdi2.connector.allfiled.ConnectServlet" init-method="init" destroy-method="destroy">
		<property name="graph" ref="graph1" />
		<property name="allfiledApi" ref="allfiledApi" />
	</bean>

	<!-- MESSAGING TARGET at /allfiled -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean id="allfiledMappingGraphfactory" class="xdi2.core.impl.wrapped.classpath.ClasspathGraphFactory">
		<property name="classpath" value="/xdi2/connector/allfiled/mapping/mapping.xdi" />
		<property name="mimeType" value="text/xdi;contexts=0;ordered=1" />
	</bean>

	<bean id="allfiledMappingGraph" factory-bean="allfiledMappingGraphfactory" factory-method="openGraph" />

	<bean id="allfiledContributor" class="xdi2.connector.allfiled.contributor.AllfiledContributor">
		<property name="allfiledApi" ref="allfiledApi" />
		<property name="allfiledMapping">
			<bean class="xdi2.connector.allfiled.mapping.AllfiledMapping">
				<property name="mappingGraph" ref="allfiledMappingGraph" />
			</bean>
		</property>
	</bean>

	<bean id="allfiledApi" class="xdi2.connector.allfiled.api.AllfiledApi" init-method="init" destroy-method="destroy">
		<property name="appId" value="1372" />
		<property name="appSecret" value="cRiet3ezo5cieniaqlubRi6MIedri15oUziupriek9a24oAstl" />
	</bean>

	<bean name="/allfiled" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!1111" />
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.UniqueDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.CheckOwnerInterceptor" />
				<ref bean="allfiledContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:map>
				<entry key="+(https://allfiled.com/)" value-ref="allfiledContributor" />
			</util:map>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mapping -->
	<!-- MessagingTarget: GraphMessagingTarget -->

	<bean name="/mapping" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="allfiledMappingGraph" />
	</bean>

</beans>
